$primaryBg: rgba(219, 234, 254);
$secondaryBg: rgba(254, 226, 226);
$warningBg: rgba(254, 243, 199);
$successBg: rgba(209, 250, 229);

$primaryColor: rgba(59, 130, 246);
$secondaryColor: rgba(239, 68, 68);
$warningColor: rgba(245, 158, 11);
$successColor: rgba(16, 185, 129);

$textColor: gray;
$titleColor: black;

$lightGray: rgba(243, 244, 246);
$gray: rgba(107, 114, 128);
$darkGray: rgba(31, 41, 55);
