@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&family=Ruslan+Display&display=swap');

* {
   box-sizing: border-box;
}
body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
      'Droid Sans', 'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   font-family: cursive;
}

label {
   /* font-family: 'Play', sans-serif; */
   font-family: cursive;
}

button {
   /* font-family: 'Play', sans-serif; */
   font-family: cursive;
}
input {
   /* font-family: 'Play', sans-serif; */
   font-family: cursive;
}
textarea {
   /* font-family: 'Play', sans-serif; */
   font-family: cursive;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
